include MANIFEST.in
include _ccfreeze_loader/__init__.py
include _ccfreeze_loader/console.c
include _ccfreeze_loader/consolew.c
include _ccfreeze_loader/getpath.c
include _ccfreeze_loader/loader_impl.h
include setup.cfg
include setup.py
